* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    width: 99%;
    max-width 960px;
    margin 0 auto;
}

header {
    text-align: center;
}

header img {
    float: left;
    width: 70px;
    max-width: 100px;
}