* {
    margin: 0;
    padding: 0;
}

html {
    background-image:
        -webkit-linear-gradient(90deg, black 0%, silver 30%,silver 70%, black 100%)
}

body {
    background-color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Serif;
    font-size: 100%;
    width: 99%;
    max-width: 960px;
    margin: 0 auto 100%;
}

header {
    display: block;
    text-align: center;
    font-family: "Courier New", Courier, monospace; 
    border-bottom: 3px solid;
}

header img {
    float: none;
    width: 100px;
    min-width: 70px;
}

figure {
    display: block;
    width: 600px;
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;
}

#CPTCteam {
    width: 600px;
    min-width: 100px;
    margin: 10px auto 10px auto;
}

figcaption {
    font-size: 70%;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
}