* {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    text-align: center;
    font-family: "Courier New", Courier, monospace; 
    border-bottom: 3px solid;
}

header img {
    float: none;
    width: 100px;
    min-width: 70px;
}

body {
    font-size: 100%;
    width: 99%;
    max-width 960px;
    margin 0 auto;
}

#CPTCteam {
    width: 600px;
    min-width: 100px;
}